tests/test_03_liu2020/cases/A2_Q20to100_openchannel_nogeyser/openfoam/3d/case/postProcessing/riserAlpha/**/alpha.water filter=lfs diff=lfs merge=lfs -text
tests/test_03_liu2020/cases/A2_Q20to100_openchannel_nogeyser/openfoam/3d/case/postProcessing/tankLevel/**/alpha.water filter=lfs diff=lfs merge=lfs -text
tests/test_03_liu2020/cases/A2_Q20to100_openchannel_nogeyser/openfoam/3d/case/VTK/**/internal.vtu filter=lfs diff=lfs merge=lfs -text
