tests/test_01_vw2011/cases/B_Dt12p7_Ha0610_Yfs0356/outputs/sim_data/**/*.tar.xz filter=lfs diff=lfs merge=lfs -text
tests/test_03_liu2020/cases/C9_Q25to40_hr03_airpocket/openfoam/3d/case/computed_data/phase1_render/reconstructed_render_fields.tar.xz filter=lfs diff=lfs merge=lfs -text
tests/test_03_liu2020/cases/C9_Q25to40_hr03_airpocket/openfoam/3d/case/computed_data/phase1_render/VTK.tar.xz filter=lfs diff=lfs merge=lfs -text
output/remote_transfer/B3_2d_completed_server_20260816/b3_2d_72k_completed_root_fields_20260816.tar.zst filter=lfs diff=lfs merge=lfs -text
tests/test_02_cong2017/cases/BH1_Dr16_H066_L061/outputs/openfoam3d/refined-open-full-tau0-VTK/*.tar.xz filter=lfs diff=lfs merge=lfs -text
