/0/
/[1-9]*/
/processor*/
/postProcessing/
/dynamicCode/
/constant/polyMesh/
/bh6-3d.msh
/geometry_audit.runtime.json
/valve_schedule.runtime.json
/constant/valveDarcyTable
/constant/valveInertialTable
/system/decomposeParDict.runtime
/log.*
