__pycache__/
*.pyc
case/[0-9]*/
!case/0.orig/
!case/0.orig/**
case/processor*/
case/postProcessing/
case/constant/polyMesh/
case/constant/extendedFeatureEdgeMesh/
case/constant/triSurface/*.eMesh
case/constant/triSurface/*.vtp
case/log.*
case/core
case/*.foam
case/VTK*/
case/results-*/
runs/
