/0/
/[1-9]*/
/processor*/
/postProcessing/
/constant/polyMesh/
/dynamicCode/
/caseB3d.msh
/log.*
/constant/airThermo
/constant/surfaceForces
/system/alphaCorrectors
/system/decomposeParDict.runtime
/system/pimpleCorrectors
/system/runControl
/system/runSettings
/system/setFieldsDict.runtime
/system/setExprFieldsDict.runtime
/system/towerProbeLocations
/system/plumeProbeLocations
/outputs/runtime/
